@if $dev == true {
    body {
        background-color: green;
    }
}

.header {
    height: 538px;
    overflow: hidden;
    
    &__background {
        height: 538px;
        z-index: 0;

        //position: absolute;
    }

    &__content {
        position: relative;
        top: 0;
        left: 0;
    }
}