body {
    font-family: 'Barlow', sans-serif; 
}

h1, h2, h3, h4 {
    font-family: 'Fraunces', serif;
    font-weight: 900;
}

.header {
    &__title {
        font-size: 40px;
        line-height: 49.32px;
        letter-spacing: 6.25px;
        text-align: center;
        color: $color-secondary-fifth;
    
        @include screen-large {
            font-size: 56px;
            line-height: 69.05px;
            letter-spacing: 8.75px;
        }
    }

    &__main-nav__link {
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.128571px;
        color: $color-secondary-fifth;
        text-decoration: none;

        &:hover {
            font-family: 'Fraunces', serif;
            text-transform: uppercase;
            font-weight: 700;
        }

        &--active {
            font-family: 'Fraunces', serif;
            text-transform: uppercase;
            font-weight: 700;
            color: $color-secondary-first;
            text-decoration: none;
        }
    }
}