$dev: false;

//// colors
// primary

$color-primary-first: hsla(7, 99%, 70%, .25);
$color-primary-first-hover: hsl(7, 99%, 70%);
$color-primary-second: hsla(51, 100%, 49%, .25);
$color-primary-second-hover: hsl(51, 100%, 49%);
$color-primary-third: hsl(167, 40%, 24%);
$color-primary-fourth: hsl(198, 62%, 26%);
$color-primary-fifth: hsl(168, 44%, 70%);
$color-primary-sixth: hsl(168, 34%, 41%);


// secondary

$color-secondary-first: hsl(212, 27%, 19%);
$color-secondary-second: hsl(213, 9%, 39%);
$color-secondary-third: hsl(232, 10%, 55%);
$color-secondary-fourth: hsl(210, 4%, 67%);
$color-secondary-fifth: hsl(39, 100%, 99%);

// image colors
// theses are used behind images ta have colors while photos are downloaded
$color-photo-blue: #3EBFFF;
$color-photo-yellow: #FED501;
$color-photo-coral: #FF7364;
$color-photo-green: #8DCFC3;
$color-photo-orange: #FF9801;
$color-photo-poeple: #CDAF9A;
 
//// layout

$height-mobile: 538px;
$height-desktop: 800px;

$margin-side-mobile: 24px;
$margin-top-mobile: 32px;

$margin-side-desktop: 40px;
$margin-top-desktop: 46px;

//// responsive

$width-large: 1024px;