.header {
    width: 100%;
    height: calc(100vw / 0.697);// always same aspect ratio

    overflow: hidden;

    @include media-screen-large {
        height: calc(100vw / 1.8);// always same aspect ratio
    }
    
    &__background {
        display: block;// background color cover all the container

        width: 100%;
        height: calc(100vw / 0.697);// always same aspect ratio

        @include media-screen-large {
            height: calc(100vw / 1.8);// always same aspect ratio
        }

        background-color: $color-photo-blue;

        z-index: 0;

        position: relative;
        object-fit: cover;
    }

    &__content {
        // place on front of image
        position: absolute;
        top: 0;

        box-sizing: border-box;
        width: 100%;
        
        z-index: 1;

        padding: $margin-top-mobile $margin-side-mobile;

        @include media-screen-large {
            padding: $margin-top-desktop $margin-side-desktop;
        }

        display: flex;
        flex-direction: column;

        &__header {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        &__main {
            display: flex;
            flex-direction: column;
        }
    }

    &__logo {
        height: 24px;

        @include media-screen-large {
            height: 33px;
        }
    }

    &__main-nav {

        @include media-screen-large {
            position: absolute;
            top: 36px;
            right: 48px;
        }

        &__link {
            display: block;

            box-sizing: border-box;

            height: 100%;
            padding: 15px 30px;
    
            &:hover {
                // white 25% transparent
                background: rgba(255, 255, 255, 0.25);

                border-radius: 28px;
            }
    
            &--active {
                display: block;

                box-sizing: border-box;

                height: 100%;
                padding: 15px 30px;

                background: $color-secondary-fifth;
                border-radius: 28px;
            }
        }

        &__hamburger__item {
            height: 18px; //size of hamburger

            @include media-screen-large {
                display: none;
            }
        }

        &__list {
            display: none;

            @include media-screen-large {
                display: flex;
                list-style-type: none;
                height: 48px;
                margin: 0;
            }
        }

        &__item {
            //margin-left: 47px;
            margin: auto 0 auto 47px;
        }
    }

    &__title {
        width: 100%;

        margin-top: 88px;
        margin-bottom: 0;

        @include media-screen-large {
            margin-top: 116px;
        }
    }

    &__go-down {
        width: 30px;

        margin-top: 52px;

        justify-self: end;
        align-self: center;

        @include media-screen-large {
            margin-top: 96px;
        }
    }
}