.footer {
    &__gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        &__image {
            width: 50%;
            height: 50vw;
            object-fit: cover;

            @include screen-large {
                width: 25%;
                height: calc(25vw * 1.242);
            }
        }
    }

    &__content {
        background-color: $color-primary-fifth;
        padding: 64px 39px 81px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__logo {
        width: 170px;
    }

    &__main-nav {
        padding-top: 40px;
        padding-bottom: 90px;

        &__list {
            margin: 0;
            padding: 0;

            display: flex;
            flex-direction: row;

            list-style-type: none;
        }

        &__item {
            margin: 0 (57px * .5);// divide in sass wil be deprecated so use *
        }
    }

    &__social-nav {

        &__list {
            margin: 0;
            padding: 0;

            display: flex;
            flex-direction: row;

            list-style-type: none;
        }

        &__item {
            width: 20px;
            height: 20px;

            margin: 0 14px;
        }

        &__link {
            img:hover {
                // not great!
                filter:
                    brightness(1000%)
                    grayscale(100%);  
            }
        }
    }
}